
<nav class="navbar navbar-expand-lg" style="position:sticky;top:0 ;left:0 ; z-index:999;width:100%; height:80px;margin:0;padding:0;background-color:black;">

    <a class="navbar-brand" routerLink="#" style="padding-left:20px ;color:yellow;font-size:30px">STUDENT-ATTENDENCE-SYSTEM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" style="color:white;font-size:20px;">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/add" style="color:white;font-size:20px;">ADD STUDENT </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link active" routerLink="/attendence" style="color:white;font-size:20px;">FILL ATTENDENCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/details" style="color:white;font-size:20px;">GET STUDENT DETAILS</a>
        </li>
      </ul>
    </div>
  
</nav>
<div>
  
<router-outlet></router-outlet>
</div>








