// .container{
//     border:10px solid rgb(72, 134, 158);

// }
body{
    background-image:url(.././../assets/images/ek.jpeg);
     
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: aquamarine !important;
}