<form [formGroup]="addstudent" (ngSubmit)= "OnSubmit(addstudent.value)">
    <div class="form-group mb-3">
        <label for="name" class="NAME">NAME</label>
        <input type="text" class="form-control" formControlName="name" placeholder="enter name">
    </div>
    <div class=" form-group mb-3">
        <label for="class" class="class">CLASS</label>
        <select class="form-select" formControlName="class" aria-label="Default select example">
            <option selected>select class</option>
            <option value="LKG">LKG</option>
            <option value="UKG">UKG</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>

    <div class=" form-group mb-3">
        <label for="section" class="section">SECTION</label>
        <select class="form-select" formControlName="section" >
            <option default>select section</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
        </select>
    </div>
    <div class=" form-group mb-3">
        <label for="Roll-NO" class="NAME">ROLL NO</label>
        <input type="text" class="form-control" formControlName="RollNo" placeholder="enter roll-no">
    </div>


    <div class =" form-group  mb-3">
        <label for="gender" class="gender">GENDER : </label> &nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="Gender"  name="Gender" id="inlineRadio1" value="male">
        <label class="form-check-label" for="inlineRadio1">male</label>
      </div>&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="Gender"  name="Gender" id="inlineRadio2" value="female">
        <label class="form-check-label" for="female">female</label>
      </div>
    </div> 
    <div class=" form-group mb-3">
        <label for="DOB" class="NAME">DATE OF BIRTH</label>
        <input type="text" placeholder="yyyy/mm/dd" class="form-control" formControlName="Dob">
    </div> 
    <div class=" form-group mb-4">
        <label for="year" class="year">YEAR</label>
        <input type="text" placeholder="yyyy" class="form-control" formControlName="Year">
    </div>
    <div class=" form-group input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">UPLOAD IMAGE</label>
        <input type="file" class="form-control" formControlName="profile" id="inputGroupFile01" 
        (change)="upload_student_img($event)">
    </div>
<div align="right" class=" form-group mb-5">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>