img, svg {
    vertical-align: middle;

}
p.learn {
    margin-top: 30px !important;
}
.foot-block p {
    color: #fff;
    text-align: justify;
    
    float: left;
}
p {

    margin-bottom: 1rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img{  
    height: 25rem;  
    width: 25rem;  
     
    }  
