<div style="background-color:white ;display: flex;
flex-direction: column;
align-items: center;height: 40rem;">
  <h2 style="text-align:center;font-size:30px ;color:#00512b;font-family: cursive;padding:10px 0 20px 0"><strong>
      Welcome to
      <span>Delhi Public School</span>&nbsp;
      <span>Greater Noida</span></strong>
  </h2>
  <img style="width:23rem" src=".././../assets/images/250_DPS-Greater-Noida---Delhi-Public-School.png" alt="">
  <p style="font-size:28px ; text-align: center;padding:40px 40px 20px 40px ;color:#00512b;font-family: cursive;">
    <strong> A very warm welcome to DPS Greater Noida, one of the Core Schools under the control and support of the DPS
      Society, New Delhi </strong>
  </p>
</div>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src=".././../assets/images/an.jpg" class="d-block w-100" style="height:88.6vh ;" alt="...">
    </div>
    <div class="carousel-item active">
      <img src=".././../assets/images/Annn.jpg" class="d-block w-100 " style="height:88.6vh ;" alt="...">
    </div>
    <div class="carousel-item">
      <img src=".././../assets/images/cr7.jpg" class="d-block w-100" style="height:88.6vh ;" alt="...">
    </div>
    <div class="carousel-item">
      <img src=".././../assets/images/cr5.jpg" class="d-block w-100 " style="height:88.6vh ;" alt="...">
    </div>
    <div class="carousel-item">
      <img src=".././../assets/images/cr4.jpg" class="d-block w-100" style="height:88.6vh ;" alt="...">
    </div>
    <div class="carousel-item">
      <img src=".././../assets/images/cr6.jpg" class="d-block w-100" style="height:88.6vh ;" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>









<div>
  <h1 align="center"
    style="background-color:white ;margin:0;padding:35px 0 40px 0;text-decoration: underline;color:#00512b;font:40px cursive;">
    Highlights</h1>
  <div
    style="display:flex;flex-wrap:wrap;justify-content:center;align-items: center; gap:2rem ;background-color:white;padding:20px">

    <a type="button" href="" class="btn btn-outline-warning"
      style="background-color:black;font-size:18px ;padding:10px 20px 10px 20px">Latest News</a>
    <button type="button" class="btn btn-outline-warning"
      style="background-color:black;font-size:18px ;padding:10px 20px 10px 20px">School Events</button>
    <button type="button" class="btn btn-outline-warning"
      style="background-color:black;font-size:18px ;padding:10px 20px 10px 20px">Calendar</button>
    <button type="button" class="btn btn-outline-warning"
      style="background-color:black;font-size:18px ;padding:10px 20px 10px 20px">Trips and Excursions</button>
    <button type="button" class="btn btn-outline-warning"
      style="background-color:black;font-size:18px ;padding:10px 20px 10px 20px">School Results</button>
  </div>
  <h1 align="center"
    style="background-color:white ;margin:0;padding:110px 0 0 0;text-decoration: underline;color:#00512b;font:40px cursive;">
    Head and Mentors</h1>

  <div
    style=" height:40rem;background-color:white ;padding:0px;margin:0px;display:flex;justify-content:space-around;align-items: center; flex-direction: row;">

    <div class="one">
      <img src=".././../assets/images/1.jpg" style="border:8px solid gray;margin:0px 0 0px 0;" alt="">
      <h4 align="center" style="color:#00512b">Ms. Vrinda Sarup</h4>
      <h4 align="center" style="color:#00512b">Chairperson</h4>
    </div>
    <div class="one">
      <img src=".././../assets/images/principal desk-1.jpg" style="border:8px solid gray;margin:0 0 0 0" alt="">
      <h4 align="center" style="color:#00512b">Ms. Shandhya Awasthi</h4>
      <h4 align="center" style="color:#00512b">Principal</h4>
    </div>
    <div class="one">
      <img src=".././../assets/images/mdm.png" style="border:8px solid gray;margin:0 0 0 0" alt="">
      <h4 align="center" style="color:#00512b">Ms. Manju Verma</h4>
      <h4 align="center" style="color:#00512b">Vice-principal</h4>
    </div>
    <div class="one">
      <img src=".././../assets/images/vcp.jpg" style="border:8px solid gray;margin:0 0 0 0" alt="">
      <h4 align="center" style="color:#00512b">Mr. Narendra Singh</h4>
      <h4 align="center" style="color:#00512b">Vice-principal</h4>
    </div>

  </div>
  <h1 align="center" style="background-color:white ;margin:0px;padding-bottom:60px ;font:35px  cursive;">Now that you've
    met the family, why don't you find out more!<br> <button type="button"
      class="btn btn-outline-warning">DISCOVER-MORE</button></h1>

</div>

<div style="background-color:#00512b" >
  <h1 style="color:white;font:40px cursive;text-align: center;text-decoration:underline;padding:40px 0 0 0 ">Milestones</h1>
  <h1 style="color:#ffc62f;font:35px cursive;text-align:center;padding-bottom:40px ;">Here you can review some statics about our School</h1>
<div style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center;gap:40px ;padding-bottom:100px;">

    <div style="border:7px solid #ffc62f;border-radius:10% ;height:250px ;width:250px ">

      <div style="background:transparent ;font-size:40px;text-align:center;padding-top: 30px;color:white ;">
        222
      </div>

      <div style="font-size:25px;text-align:center;padding-top:40px;color:white">
        Certified teachers
      </div>
    </div>
  
  <div style="border:7px solid #ffc62f;border-radius:10% ;height:250px ;width:250px">

    <div style="background:transparent ;font-size:40px;text-align:center;padding-top: 30px;color:white ;">
    4650
    </div>

    <div style="font-size:25px;text-align:center;padding-top:40px;color:white">
      Enrolled Students
    </div>
  </div>

  <div style="border:7px solid #ffc62f;border-radius:10% ;height:250px ;width:250px ">

    <div style="background:transparent ;font-size:40px;text-align:center;padding-top: 30px;color:white ;">
      100%
    </div>

    <div style="font-size:25px;text-align:center;padding-top:40px;color:white">
      Passing to universities
    </div>
  </div>

<div style="border:7px solid #ffc62f;border-radius:10% ;height:250px; width:250px ">

  <div style="background:transparent ;font-size:40px;text-align:center;padding-top: 30px;color:white ;">
    100%
  </div>

  <div style="font-size:25px;text-align:center;padding-top:40px;color:white">
    Satisfied parents
  </div>
</div>

  

  </div>
</div>
















<footer class="bg-light text-center text-lg-start"
  style="background-color:#00512b!important ;font-size:18px ;margin-top: 0px;">
  <!-- Grid container -->
  <div class="container p-4" style="height:35rem;">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <p style="color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;font-style: italic ;display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;padding-top:5rem
     ;">
          DPS Greater Noida one of the Core Schools under the control and support of the DPS Society New Delhi, having
          commenced its operations effectively in 1998, has certainly come of an age, with a strength of 4650 students
          (approx.) and 222 dedicated faculty members now, from classes Nursery to XII. Situated in a very
          systematically planned township forming the suburb of Delhi, it has been imparting a holistic education to its
          lively students under the guidance of dynamic principals, since its inception, who have acted as the true
          mentors
        </p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0" style="padding:5rem 7rem ;">
        <h3 style="color:white;margin-top:14px;">Contact info :-</h3>
        <h4 style="color:white;font:18px cursive ;">DELHI PUBLIC SCHOOL GREATER NOIDA Sector Gamma - II, Greater Noida
          City Distt, Gautam
          Budh Nagar, U.P.-201310</h4>
        <h4 style="color:white;font:18px cursive "> Phone No :7518888181</h4>
        <h4 style="color:white;font:18px cursive ">Mon - Fri: 8.00 AM - 02.00 PM</h4>
        <h4 style="color:white;font:18px cursive "> Email : dpsnadmin@dpsgrnoida.com</h4>

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->


  <div class="text-center p-3" style="background-color: rgb(22, 0, 0);color:white">
    Sitemap | Copyright © 2021 DPS GREATER NOIDA. All rights reserved

  </div>
  <!-- Copyright -->
</footer>



